@font-face {
    font-family: "icons";
    src: url("./icons.eot?fd5696f1a30ef6806f846ce338af2a91#iefix") format("embedded-opentype"),
url("./icons.woff2?fd5696f1a30ef6806f846ce338af2a91") format("woff2"),
url("./icons.woff?fd5696f1a30ef6806f846ce338af2a91") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-5star:before {
    content: "\f101";
}
.icon-accessory:before {
    content: "\f102";
}
.icon-adrenaline:before {
    content: "\f103";
}
.icon-airplane:before {
    content: "\f104";
}
.icon-ammunition:before {
    content: "\f105";
}
.icon-anchore:before {
    content: "\f106";
}
.icon-arrest:before {
    content: "\f107";
}
.icon-backpack:before {
    content: "\f108";
}
.icon-barber:before {
    content: "\f109";
}
.icon-barricade:before {
    content: "\f10a";
}
.icon-basic:before {
    content: "\f10b";
}
.icon-boat:before {
    content: "\f10c";
}
.icon-brain:before {
    content: "\f10d";
}
.icon-bulletproof:before {
    content: "\f10e";
}
.icon-bunker:before {
    content: "\f10f";
}
.icon-business:before {
    content: "\f110";
}
.icon-call:before {
    content: "\f111";
}
.icon-cannabis:before {
    content: "\f112";
}
.icon-car:before {
    content: "\f113";
}
.icon-charging_battery:before {
    content: "\f114";
}
.icon-charging:before {
    content: "\f115";
}
.icon-clip:before {
    content: "\f116";
}
.icon-clothes:before {
    content: "\f117";
}
.icon-compact:before {
    content: "\f118";
}
.icon-coupe:before {
    content: "\f119";
}
.icon-craft:before {
    content: "\f11a";
}
.icon-database:before {
    content: "\f11b";
}
.icon-dial:before {
    content: "\f11c";
}
.icon-document:before {
    content: "\f11d";
}
.icon-donkey:before {
    content: "\f11e";
}
.icon-drag:before {
    content: "\f11f";
}
.icon-drift:before {
    content: "\f120";
}
.icon-earing:before {
    content: "\f121";
}
.icon-engine:before {
    content: "\f122";
}
.icon-error:before {
    content: "\f123";
}
.icon-event:before {
    content: "\f124";
}
.icon-fine:before {
    content: "\f125";
}
.icon-fist:before {
    content: "\f126";
}
.icon-fix:before {
    content: "\f127";
}
.icon-flashlight:before {
    content: "\f128";
}
.icon-food:before {
    content: "\f129";
}
.icon-freckles:before {
    content: "\f12a";
}
.icon-fuel:before {
    content: "\f12b";
}
.icon-garage:before {
    content: "\f12c";
}
.icon-givemoney:before {
    content: "\f12d";
}
.icon-glasses:before {
    content: "\f12e";
}
.icon-glove:before {
    content: "\f12f";
}
.icon-government:before {
    content: "\f130";
}
.icon-grip:before {
    content: "\f131";
}
.icon-hair:before {
    content: "\f132";
}
.icon-hand:before {
    content: "\f133";
}
.icon-handcuff:before {
    content: "\f134";
}
.icon-hat:before {
    content: "\f135";
}
.icon-head:before {
    content: "\f136";
}
.icon-helicopter:before {
    content: "\f137";
}
.icon-home:before {
    content: "\f138";
}
.icon-hostage:before {
    content: "\f139";
}
.icon-hotel:before {
    content: "\f13a";
}
.icon-house:before {
    content: "\f13b";
}
.icon-incoming_call:before {
    content: "\f13c";
}
.icon-insurance:before {
    content: "\f13d";
}
.icon-item:before {
    content: "\f13e";
}
.icon-jacket:before {
    content: "\f13f";
}
.icon-jail:before {
    content: "\f140";
}
.icon-leader:before {
    content: "\f141";
}
.icon-left_arm:before {
    content: "\f142";
}
.icon-left_leg:before {
    content: "\f143";
}
.icon-left:before {
    content: "\f144";
}
.icon-leg:before {
    content: "\f145";
}
.icon-level_up:before {
    content: "\f146";
}
.icon-location:before {
    content: "\f147";
}
.icon-lock:before {
    content: "\f148";
}
.icon-logo:before {
    content: "\f149";
}
.icon-logs:before {
    content: "\f14a";
}
.icon-mafia:before {
    content: "\f14b";
}
.icon-makeup:before {
    content: "\f14c";
}
.icon-mask:before {
    content: "\f14d";
}
.icon-med:before {
    content: "\f14e";
}
.icon-medkit:before {
    content: "\f14f";
}
.icon-motorcycle:before {
    content: "\f150";
}
.icon-muscle:before {
    content: "\f151";
}
.icon-mushroom:before {
    content: "\f152";
}
.icon-mute:before {
    content: "\f153";
}
.icon-needle:before {
    content: "\f154";
}
.icon-nogun:before {
    content: "\f155";
}
.icon-offroad:before {
    content: "\f156";
}
.icon-organization:before {
    content: "\f157";
}
.icon-outcoming_call:before {
    content: "\f158";
}
.icon-pants:before {
    content: "\f159";
}
.icon-passenger:before {
    content: "\f15a";
}
.icon-people:before {
    content: "\f15b";
}
.icon-phone_ring:before {
    content: "\f15c";
}
.icon-pill:before {
    content: "\f15d";
}
.icon-plastic_surgery:before {
    content: "\f15e";
}
.icon-plate:before {
    content: "\f15f";
}
.icon-pointing:before {
    content: "\f160";
}
.icon-police:before {
    content: "\f161";
}
.icon-radio:before {
    content: "\f162";
}
.icon-radioactive:before {
    content: "\f163";
}
.icon-realestate:before {
    content: "\f164";
}
.icon-right_arm:before {
    content: "\f165";
}
.icon-right_leg:before {
    content: "\f166";
}
.icon-right:before {
    content: "\f167";
}
.icon-rip:before {
    content: "\f168";
}
.icon-sale_house:before {
    content: "\f169";
}
.icon-sausage:before {
    content: "\f16a";
}
.icon-scope:before {
    content: "\f16b";
}
.icon-search_people:before {
    content: "\f16c";
}
.icon-search:before {
    content: "\f16d";
}
.icon-sedan:before {
    content: "\f16e";
}
.icon-shoes:before {
    content: "\f16f";
}
.icon-skin:before {
    content: "\f170";
}
.icon-smell:before {
    content: "\f171";
}
.icon-socket:before {
    content: "\f172";
}
.icon-speedometer:before {
    content: "\f173";
}
.icon-sport:before {
    content: "\f174";
}
.icon-sportsclassic:before {
    content: "\f175";
}
.icon-star:before {
    content: "\f176";
}
.icon-steal_people:before {
    content: "\f177";
}
.icon-steal_vehicle:before {
    content: "\f178";
}
.icon-steering:before {
    content: "\f179";
}
.icon-store:before {
    content: "\f17a";
}
.icon-super:before {
    content: "\f17b";
}
.icon-suppressor:before {
    content: "\f17c";
}
.icon-suv:before {
    content: "\f17d";
}
.icon-tablet:before {
    content: "\f17e";
}
.icon-tattoo:before {
    content: "\f17f";
}
.icon-taxi:before {
    content: "\f180";
}
.icon-tie:before {
    content: "\f181";
}
.icon-torso:before {
    content: "\f182";
}
.icon-tractors:before {
    content: "\f183";
}
.icon-trucker:before {
    content: "\f184";
}
.icon-trunk:before {
    content: "\f185";
}
.icon-tshirt:before {
    content: "\f186";
}
.icon-unlock:before {
    content: "\f187";
}
.icon-unmute:before {
    content: "\f188";
}
.icon-usergroup:before {
    content: "\f189";
}
.icon-van:before {
    content: "\f18a";
}
.icon-vehicle_door:before {
    content: "\f18b";
}
.icon-virus:before {
    content: "\f18c";
}
.icon-wanted:before {
    content: "\f18d";
}
.icon-watch:before {
    content: "\f18e";
}
.icon-weapon:before {
    content: "\f18f";
}
.icon-weed:before {
    content: "\f190";
}
